body{
    margin: 0px;
    padding: 0px;
}

.container{
    /* 이거 없으면 가운데 정렬 약간 이상함 */
    max-width: 400px;
    /* 가운데 정렬 */
    margin : 50px auto; 
    padding : 0 20px;
    text-align: center;
}


.logo{
    width: 64px;
    height: 64px;
    /* 정렬 */
    margin: 0 auto 20px auto;
}

.form-group{
    text-align: left;
    margin-bottom: 20px;
}

label{
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input{
    /* 부모영역의 100%만큼 차지하겠다. */
    width: 95%;
    padding: 12px;
    border: 1px solid gray;
    border-radius: 4px;
    font-size: 14px;
}

small{
    color: grey;
    font-size: 12px;
    margin-top: 5px;
    display: block;
}

.button{
    background-color: sandybrown;
    color: white;
    padding: 14px;
    width: 200px;
    border: none;
    border-radius: 4px;
    cursor: pointer;

}